

    <h1>Корзина</h1>
    <div id="bascetsmall" class="content" > {# display={{ bigBagDisp }} #}
    	Goodid
	</div>
	{#{{ render(controller(
		'AppBundle:Article:recentArticles',
		{ 'max': 3 }
	)) }}#}

