{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@UserBundle/Resources/css/show.css' filter='cssrewrite' filter='uglifycss'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>calculate</h1>
    
{% endblock %}
